{% include base_path %}

{% if paper.header.teaser %}
  {% capture teaser %}{{ paper.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if paper.id %}
  {% assign title = paper.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = paper.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if paper.link %}
        <a href="{{ paper.link }}">{{ title }}</a> <a href="{{ base_path }}{{ paper.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ paper.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if paper.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if paper.collection == 'teaching' %}
          <p> {{ paper.type }}, <i>{{ paper.venue }}</i>, {{ paper.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif paper.collection == 'publications' %}
          <p>Published in <i>{{ paper.venue }}</i>, {{ paper.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% endif %}

    {% if paper.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ paper.excerpt | markdownify }}</p>
    {% elsif paper.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ paper.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ paper.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if paper.citation and paper.paperurl %}
      <p>Recommended citation: {{ paper.citation }} <a href="{{ paper.paperurl }}"><u>{{ paper.paperurl }}</u></a></p>
    {% elsif paper.citation %}
      <p>Recommended citation: {{ paper.citation }} </p>
    {% elsif paper.paperurl %}
      <p>Download <a href=" {{ paper.paperurl }} "><u>here</u></a></p>
    {% endif %}

  </article>
</div>
